@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sigmar One", cursive;
}

body{
  
  background-color: rgb(240, 222, 179)!important;
  /* background-color: rgb(247, 241, 226)!important; */

}
/* NAVBAR */
.navbar {
  /* font-family: 'Bebas Neue', cursive; */
  font-family: "Sigmar One", cursive;
  display: flex;
  align-items: center;
  /* background-color: rgb(67, 155, 74); */
  background-color: rgb(6, 102, 14);
  color: white;
}
.logo {
  text-align: center;
}
.logo img {
  text-align: center;
  width: 10vw;
}

.brand-title {
  font-size: 2rem;
  margin: 0.5rem;
  color:white;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}

.navbar-links ul li {
  display: inline-block;
  list-style: none;
  margin: 5px;
}

.navbar-links ul li a {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.search {
  margin-right: 10px;
}
.search input {
  width: 10vw;
}
/* Small screen */
@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo img {
    width: 14vw;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links ul li .link1 {
    text-decoration: none;
    color: white;
    padding: 1rem;
  }
  .navbar-links ul li .link2 {
    text-decoration: none;
    color: white;
    padding: 1rem;
  }
  .navbar-links ul li .link3 {
    text-decoration: none;
    color: white;
    padding: 1rem;
  }

  .search {
    text-align: center;
    margin-right: 10px;
  }
  .search button {
    width: 70%;
    margin-top: 10px;
  }
  .search input {
    width: 40vw;
  }
}
/* Big screen */
@media (min-width: 800px) {
  .navbar-links ul li .link1 {
    float: none;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
  }
  .navbar-links ul li .link2 {
    float: none;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .navbar-links ul li .link3 {
    float: none;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}

/* NAVBAR SLUT*/

/* CONTENT */
.container{
  margin-top:50px;
}
.content-text{
  background-color: rgb(111, 190, 21);
  font-size: 20px;
  padding-top: 20px;
  border: solid 10px rgb(39, 38, 38);
}
.content-text p{
  margin-top: 50px;
}
.content-text h1{
  font-size: 50px;
}
.content-text h3{
  font-size: 50px;
  text-align: center;
}

.logo-wrapper{
  text-align: center;
}

.logo-firstwefeast{
  width: 20vw;
  text-align: center;
}

.content-pic{
 
  text-align: center;
}

.content-pic img{
   margin-top:20px;
}

/* CONTENT SLUT */

