@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');

/* NAVBAR */
.navbar {
  font-family: Montserrat Subrayada;
  display: flex;
  align-items: center;
  /* background-color: rgb(67, 155, 74); */
  background-color: black;
  color: white;
}
.logo {
  text-align: center;
  
}
.logo img {
  text-align: center;
  width: 7vw;
}

#logoText {
 padding-top: 0.5em;
 color:#c70a1d;
 /* text-shadow: -1px -2px 1px #a8cca5; */
 font-weight: bolder;
}

.brand-title {
  font-size: 2rem;
  margin: 0.5rem;
  color: white;
  text-decoration: none;
  
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}

.navbar-links ul li {
  display: inline-block;
  list-style: none;
  margin: 5px;
}

.navbar-links ul li a {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  transition: padding-left 0.5s;
}

.navbar-links ul li a:hover {
padding-left: 30px;
color:rgb(206, 7, 7);
}

.navbar-links li:hover {
  background-color: rgb(66, 63, 63);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.search {
  margin-right: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  sans-serif;
}
.search input {
  width: 10vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  sans-serif;
}
/* Small screen */
@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo img {
    width: 14vw;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links ul li .link1 {
    text-decoration: none;
    color: white;
    padding: 1rem;
  }
  .navbar-links ul li .link2 {
    text-decoration: none;
    color: white;
    padding: 1rem;
  }
  .navbar-links ul li .link3 {
    text-decoration: none;
    color: white;
    padding: 1rem;
  }

  .search {
    text-align: center;
    margin-right: 10px;
  }
  .search button {
    width: 70%;
    margin-top: 10px;
  }
  .search input {
    width: 40vw;
  }

  .grid-item {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}
/* Big screen */
@media (min-width: 800px) {
  .navbar-links ul li .link1 {
    float: none;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(110%, -50%);
  }
  .navbar-links ul li .link2 {
    float: none;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(20%, -50%);
  }
  .navbar-links ul li .link3 {
    float: none;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(50%, -50%);
  }
}
/* ON HOVER ON SMALL SCREEN-LESS EFFECT */
@media (min-width: 370px){
.navbar-links ul li a:hover {
padding-left: 10px;

}
}

/* NAVBAR SLUT*/

/* CONTENT */
.container {
  margin-top: 50px;
}
.content-text {
  background-color: rgb(111, 190, 21);
  font-size: 20px;
  padding-top: 20px;
  box-shadow: 5px 10px #44434367;
  border: solid 10px rgb(3, 3, 3);
  color:black;
}
.content-text p {
  margin-top: 50px;
}
.content-text h1 {
  font-size: 70px;
}
.content-text h3 {
  font-size: 40px;
  text-align: center;
}

.logo-wrapper {
  text-align: center;
  /* NYTT overflow:hidden; */
  overflow:hidden;
}

.logo-firstwefeast {
  width: 35vw;
  /* NYTT max-width: 100%;*/
  max-width: 100%;
  text-align: center;
  
}

.content-pic {
  text-align: center;
}

.content-pic img {
  margin-top: 20px;
  width: 15vw
}

/* CONTENT SLUT */
/* CONTENT DESCRIPTION */
.container-description{
  margin-top: 100px;
}

.content-header-description h1 {
  font-size: 100px;
}
.content-description-text-big{
  text-align: center;
  /* NYTT font-size: 45px;*/
  font-size: 45px;
}
.content-description-text-small{
  text-align: center;
  font-size: 30px;
}

.description-text {
  border: 1px solid black;
  
}
/* CONTENT DESCRIPTION SLUT */
/* CONTENT PRODUCT LOGO */
.container-product-logo{
  display:flex;
  justify-content: center;
  text-align: center;
  padding-top:60px;
}
.content-product-logo img{
  width: 100%;
  
}
/* CONTENT PRODUCT LOGO SLUT*/

/* Contact form css */

.form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.form-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("images2/chilifire.png") no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(50px);
}

.left {
  height: 100%;
  background-image: url(images2/chilifire.png);
  background-size: cover;
}

.right {
  padding: 25px 40px;
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 50px 5px;
}

.contact-box h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.contact-box h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #47a025;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-top: 10px;
  transition: 0.3s;
  border: none;
}

.field:hover {
  background-color: grey;
}

.field:focus{
  background-color: white;
}

.button{
  width: 100%;
  padding: 0,5rem 1rem ;
  margin-top: 10px;
  font-size: 1.1rem;
  transition: .3s;
  background-color: rgb(223, 5, 5);
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover{
  background-color: red;
}

@media screen and (max-width:700px){
    
.contact-box{
  grid-template-columns: 1fr;
  width: 250px;
  }

.left{
  height: 200px;
}
}
/* Contact form css  slut*/